body{
    background-color: lightpink;
}
.container{
    background-color: #fff;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin: 120px auto;
    max-width: 600px;
    border-radius: 5px;
}
h2{
    text-align: center;
    text-decoration: underline;
}
h1{
    font-size: 75px;
    text-align: center;
    margin: 5px;
}
button{
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 80px;
    cursor: pointer;
    font-size: 15px;
}

.blue-btn{
    margin: 10px;
    background-color: blue;
    color: #fff;  
   
}
